@media only screen and (max-width: 400px) {
    #tableOfContent {
        width: 200px !important;
    }
    main{
        background-color: blue !important;
    }
}
* {
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
}
html {
    scroll-padding-top: 10px;
}
body {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    max-width: 800px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 22px;
}
li {
    margin-top: 10px;
}
a {
    text-decoration: none;
}
p {
    text-align: justify;
    line-height: 22px;
}
.tocA {
    margin: 0px 10px 10px 10px;
    line-height: 24px;
}
#tableOfContent {
    width: 350px;
    border: solid 2px black;
    padding: 0px 10px 10px 10px;
}
#tochead {
    font-size: 18px;
    margin: 10px 0 10px 0;
    font-weight: 600;
}